@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Schoolbell&display=swap');

:root {
  --color-primary: #f0f0f0;
  --color-secondary: #8700f5;
  --color-tertiary: #0f0902;
  --color-primary-darker: #010f1a;
  --color-secondary-darker: #000808;
  --color-tertiary-darker: #8600f4;
  --color-primary-brighter: #035696;
  --color-secondary-brighter: #1fb9af;
  --color-tertiary-brighter: #272426;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  position: absolute;
  overflow: hidden;
  width: 80%;
  z-index: 1;
}

.links ul li {
  display: flex;
  float: right;
  list-style-type: none;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--color-tertiary);
  padding: 2rem 2.5rem;
  color: var(--color-primary);
  font-family: 'Schoolbell', cursive;
}

/* .links ul li a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--color-tertiary);
  padding: 2rem 2.5rem;
  color: var(--color-primary);
  font-family: 'Schoolbell', cursive;
} */

.links ul li:nth-child(1) {
  float: left;
}

/* .links ul li:nth-child(2) {
  float: right;
} */

/* .header {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  background-size: cover;
  color: var(--color-tertiary-brighter);
  border-radius: 0.5rem;
} */

.background__front {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.5);
  text-align: center;
}


.header__description {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-tertiary-brighter);
  filter: brightness(100);
}

.header__description h1 {
  text-align: center;
  font-size: 8rem;
  color: var(--color-primary);
  font-family: "Fontdiner Swanky", cursive;
}

.header__description a {
  margin: 6rem 0 0 0;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
  padding: 1.5rem 3rem;
  border: 2px solid var(--color-primary);
  border-radius: 30rem;
  color: var(--color-primary);
  text-decoration: none;
  text-align: center;
  width: 30rem;
}

/* Sections */

.section {
  border-top: 1px solid #ddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  transition: transform 1s, opacity 1s;
}

.section__title {
  margin: 6rem 2rem 12rem 2rem;
  font-size: 5rem;
  text-align: center;
}

/* Section --2 */





.spells__information {
  font-size: 4rem;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
  display: inline-block;
  width: 30%;
  height: 12rem;
  text-align: center;
  overflow: hidden;
}

.spells__information p {
  position: relative;
  padding:0.5rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.use {
  font-size: 1.5rem;
}

.spells__container--1{
  text-align: center;
}

.spells__container--2{
  text-align: center;
}



/* Section--1 */

.section__container {
  z-index: 100;
  width: 100%;
  text-align: center;
}

.search__container {
  margin-top: 5rem;
  padding: 0 2rem 0 2rem;
  font-size: 3.5rem;
  
  
}

.search__container button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

.search__container button:hover {
  color: var(--color-secondary-darker);
}

.search__container input {
  text-transform: capitalize;
  min-width: 50%;
  max-width: 70%;
  border: none;
  border-bottom: 2px solid var(--color-tertiary);
  background: transparent;
  color: var(--color-secondary);
}

.search__container input:focus {
  outline: none;
}

.character__data {
  display: inline-block;
  margin: 0 auto;
  font-size: 6rem;
  width: 70%;
  margin: 5rem 15rem 15rem 15rem;
  border-radius: 20px;
  box-shadow: 0px 0px 30px -7px rgba(66, 68, 90, 1);
}

.character__information {
  display: inline-block;
  text-align: left;
  padding: 1.5rem;
  color: var(--color-tertiary);
  max-width: 50%;
}

.character__information h1 {
  padding: 0.3rem;
  text-transform: uppercase;
}

.character__information p {
  padding: 1rem;
}

.character__image {
  float: left;
  width: 20rem;
  height: 20rem;
  background-color: #7561bd;
  border-radius: 50%;
  margin: 4rem;
}

.show__more {
  font-size: 3rem;
  padding: 1rem;
  margin: 4rem;
  border: 1px solid black;
  border-radius: 20px;
}

.show__more:hover {
  background-color: var(--color-tertiary-brighter);
  color: var(--color-primary);
  cursor: pointer;
}

/* Footer */

.footer {
  padding: 5rem 5rem;
  border-top: 1px solid #ddd;
  border-radius: 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  border-radius: 0.5rem;
  transition: transform 1s, opacity 1s;
  position: relative;
}


.footer__img {
  max-width: 80%;
  max-height: 100%;
  z-index: -1;

}

.footer__img img{
  display: inline-block;
  display: flex;
  max-height: 50%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.footer__copyright {
  text-align: center;
  position: absolute;
  margin: 5rem 0 0 0 ;
  font-size: 3rem;
}

.footer__copyright a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-secondary-brighter)
}

.links__icons{
  font-size: 25rem;
  position: absolute;
}

.fa-twitter{
  color: rgb(61, 178, 255);
}

.fa-github{
  color: rgb(41, 41, 41);
}

.fa-linkedin{
  color: rgb(0, 69, 133);
}

/* Others */

.hidden {
  display: none;
}

.return__button{
  
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor:pointer;
  z-index: 100;
  opacity: 0.7;
}

.fa-chevron-up{
  font-size: 5rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primary-darker);
  color: var(--color-primary);
  border-radius: 1rem;
  z-index: 100;
  
}


/* Responsive - settings */

/* -----max-width: 767px-------*/

@media all and (max-width: 767px){


.header__description {
    max-width: 100%;
  }

.header__description h1 {
  font-size: 5rem;
}





.search__container input {
  width: 40rem;
}

.search__container {
  margin: 0 0 5rem 0;
  padding: 0;
}

.spells__information {
  font-size: 5rem;
  width: 80%;
  height: 15rem;
}


.character__data{
  margin: 0;
  width: 90%;
}

.character__information {
  max-width: 100%;
  margin-bottom: 4rem;
}

.character__information h1 {
  text-align: center;
  margin: 2rem;
}

.character__image {
  float: none;
  text-align: center;
  
}


}

/* -----max-width: 992px-------*/
@media all and (max-width: 992px){
  .links ul li {
    max-width: 100%;
    justify-content: center;
    
  
  }
  
  .links ul li:nth-child(1) {
    float: none;
    
  }
  
  .links ul li:nth-child(2) {
    float: none;
  }

}

  
