@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap');

html {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(45, 45, 45);
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #FCFAF6;
}

#top_section {
    background-image: url(/assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 2rem 0.5rem 2rem;
    margin: 0;
}

#heading {
    text-align: right;
    font-size: 1rem;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

#heading p {
    padding: 0;
    margin: 0;
}

.serif {
    font-family: 'Meie Script', cursive;
}

nav {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 4rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: ;
}

#main_menu li {
    list-style-type: none;
    margin: 0;
    padding: 0 2rem;
}

#main_menu li a {
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #e8e8e8;
    letter-spacing: 2px;
}

#main_menu li a:hover {
    color: #85bfcf;
}


.sm_icon {
    max-width: 1.2rem;
    max-height: 1.2rem;
}

#main_menu li a:hover img {
    filter: brightness(0) saturate(100%) invert(75%) sepia(43%) saturate(286%) hue-rotate(146deg) brightness(92%) contrast(82%);
}

#login_popup {
    display: none;
}

#main_section {
    position: relative;
    padding: 3rem;
    margin: 4rem 4rem;
}

.post_header {
    margin-bottom: 2rem;
    text-align: center;
}

.date {
    font-size: 0.7rem;
    margin: 0;
}

.post_title a{
    text-decoration: none;
    color: inherit;
}

.post_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 25vw);
    grid-gap: 1rem;
}

.post_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_text {
    padding: 2rem 0;
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.9em;
}

.main_img {
    grid-row-start: 1;
    grid-row-end: 3;
}

.see_more_gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 25vw);
    grid-gap: 1rem;
}

.more_posts_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}